<div
  class="bg-inherit !flex border-gray-300 focus-within:border-gray-400 rounded border !flex-col"
>
  <textarea
    class="w-full h-32 p-2 border-none resize-none focus-visible:outline-none rounded bg-inherit !text-[0.78rem] text-slate-600"
    placeholder="Add a note"
    >{{ note?.content || '' }}</textarea
  >
  <ng-container *ngIf="note">
    <mat-divider class="opacity-30"></mat-divider>
    <small class="text-gray-500 !text-[0.68rem] p-0.5 text-center">
      Updated on {{ note.updatedAt | date : 'EEE, MMM d' }}
    </small>
  </ng-container>
</div>
