<div
  (contextmenu)="onRightClick($event)"
  *ngIf="step"
  class="flex task-step pl-2 pt-1 bg-gray-300 bg-opacity-10 hover:bg-opacity-25 justify-between items-start"
>
  <div class="flex gap-1">
    <mat-icon
      (mouseout)="handleCompletedIconMouseLeave()"
      (mouseover)="handleCompletedIconMouseEnter()"
      class="basis-auto !w-[1rem] !h-[1.4rem] text-[1rem] shrink-0 !flex items-center"
      matListIcon
    >
      {{ showCompletedIcon(step) }}
    </mat-icon>
    <p
      [ngClass]="{ 'line-through': step.isCompleted }"
      class="!text-[0.8rem] focus-visible:outline-none !font-[Ubuntu] !m-0"
      contenteditable="true"
    >
      {{ step.text }}
    </p>
  </div>
  <button
    [matMenuTriggerFor]="stepMenu"
    class="basis-auto shrink-0 !-mt-3 !flex items-center self-center"
    mat-icon-button
  >
    <mat-icon class="!text-[1.2rem]">more_vert</mat-icon>
  </button>
  <mat-menu #stepMenu="matMenu" class="!py-0" id="right-step-item">
    <button
      (click)="handleMarkAsComplete(step)"
      class="!text-[0.8rem] !flex items-center"
      mat-menu-item
    >
      <mat-icon class="text-[0.8rem] !w-[0.8rem] !h-[0.8rem]"> done </mat-icon>
      <span>Mark as complete</span>
    </button>
    <button
      (click)="handlePromoteToTask(step)"
      class="!text-[0.8rem] text-red-700 !flex items-center"
      mat-menu-item
    >
      <mat-icon class="text-[0.8rem] !w-[0.8rem] !h-[0.8rem]">
        arrow_upward
      </mat-icon>
      <span>Promote to task</span>
    </button>
    <button
      (click)="handleDeleteStep(step)"
      class="!text-[0.8rem] text-red-700"
      mat-menu-item
    >
      <mat-icon class="text-[0.8rem] !w-[0.8rem] !h-[0.8rem] text-red-700">
        delete
      </mat-icon>
      <span>Delete step</span>
    </button>
  </mat-menu>
</div>
