<!-- eslint-disable -->
<svg
  [attr.height]="height"
  [attr.width]="width"
  [ngClass]="className ? className : ''"
  clip-rule="evenodd"
  fill-rule="evenodd"
  image-rendering="optimizeQuality"
  shape-rendering="geometricPrecision"
  text-rendering="geometricPrecision"
  viewBox="0 0 500 500"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <linearGradient
      gradientUnits="userSpaceOnUse"
      id="a"
      x1="249.999"
      x2="249.999"
      y1="174.998"
      y2="79.998"
    >
      <stop offset="0" stop-color="#008bff" />
      <stop offset="1" stop-color="#0af" />
    </linearGradient>
    <linearGradient
      gradientUnits="userSpaceOnUse"
      id="b"
      x1="250"
      x2="250"
      y1="174.998"
      y2="450"
    >
      <stop offset="0" stop-color="#d8d8d8" />
      <stop offset="1" stop-color="#f2f2f2" />
    </linearGradient>
  </defs>
  <rect class="fil0" height="410" rx="30" ry="30" width="400" x="50" y="60" />
  <path
    d="M430 175H70v-75c0-11 9-20 20-20h320c11 0 20 9 20 20v75z"
    fill="url(#a)"
  />
  <circle class="fil2" cx="380" cy="125" r="25" />
  <path
    d="M70 175h360v255c0 11-9 20-20 20H90c-11 0-20-9-20-20V175z"
    fill="url(#b)"
  />
  <path d="M70 175h360" fill="none" stroke="#303030" stroke-width="10" />
  <path
    class="fil0"
    d="M380 30c5 0 10 4 10 10v85c0 6-5 10-10 10s-10-4-10-10V40c0-6 5-10 10-10z"
  />
  <path
    class="fil5"
    d="M380 40c3 0 5 2 5 5v75c0 3-2 5-5 5s-5-2-5-5V45c0-3 2-5 5-5z"
  />
  <circle class="fil2" cx="130" cy="125" r="25" />
  <path
    class="fil0"
    d="M130 30c5 0 10 4 10 10v85c0 6-5 10-10 10s-10-4-10-10V40c0-6 5-10 10-10z"
  />
  <path
    class="fil5"
    d="M130 40c3 0 5 2 5 5v75c0 3-2 5-5 5s-5-2-5-5V45c0-3 2-5 5-5z"
  />
</svg>
