<mat-toolbar
  class="flex justify-between !py-10 shrink-0 basis-auto items-center bg-gray-700 bg-opacity-40"
>
  <div class="flex items-center">
    <button
      (click)="drawer?.toggle()"
      *ngIf="(isHandset$ | async) || !drawer?.opened"
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="flex text-gray-200 leading-3 gap-1 relative flex-col">
      <h1 class="!text-2xl !font-bold !m-0">
        {{ activePage }}
      </h1>
      <small
        *ngIf="isMyDay(activePage)"
        class="absolute text-xs top-[calc(100%_-_0.1rem)]"
      >
        {{ currentDate }}
      </small>
    </div>
  </div>
  <app-trakz-notification></app-trakz-notification>
</mat-toolbar>
