<div class="bg-inherit flex pt-4 pb-2 gap-2 !flex-col">
  <div class="flex w-full gap-4">
    <button
      (click)="drawer?.toggle()"
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a class="flex gap-2 items-center" routerLink="">
      <app-trakz-logo className=" w-[1.5rem] h-[1.5rem]"></app-trakz-logo>
      <h1 class="!text-xl !m-0">Trakz</h1>
    </a>
  </div>
  <mat-divider></mat-divider>
  <app-user-avatar
    [email]="user?.email"
    [name]="user?.name"
    [picture]="user?.picture"
  >
  </app-user-avatar>
</div>
<mat-divider></mat-divider>
<mat-nav-list class="w-full !flex flex-col gap-1 nav-links" id="nav-link-list">
  <button
    #rla="routerLinkActive"
    (click)="activePage && (activePage.title = nav.label)"
    *ngFor="let nav of navLinks"
    [attr.aria-label]="nav.label"
    [ngClass]="rla.isActive ? '!bg-gray-100' : ''"
    [routerLink]="nav.link"
    [title]="nav.label"
    class="relative !h-[2.5rem] p-0 rounded-md !w-full flex items-center h-full"
    mat-list-item
    routerLinkActive=""
  >
    <span
      [ngClass]="rla.isActive ? 'block' : 'hidden'"
      class="absolute left-4 h-1/2 -ml-3 rounded bg-blue-600 w-1"
    >
    </span>
    <mat-icon
      aria-hidden="true"
      class="!text-[0.88rem] !w-[0.88rem] !h-[0.88rem]"
      matListIcon
    >
      {{ nav.icon }}
    </mat-icon>
    <div class="text-sm flex justify-between w-full">
      {{ nav.label }}
      <mat-chip
        *ngIf="nav.count"
        class="text-xs rounded-full w-fit h-[1rem] flex items-center justify-center p-2"
      >
        {{ nav.count }}
      </mat-chip>
    </div>
  </button>
</mat-nav-list>
