<mat-sidenav-container class="h-full">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="w-[12.5rem] !px-2 border-0 bg-inherit"
    fixedInViewport
  >
    <app-left-side-nav
      [activePage]="activePage"
      [drawer]="drawer"
      [isHandset$]="isHandset$"
      [user]="user"
    >
    </app-left-side-nav>
  </mat-sidenav>
  <mat-sidenav-content
    class="relative !flex flex-col rounded-tl-2xl !overflow-hidden bg-gray-100"
  >
    <app-top-navbar
      [activePage]="activePage"
      [drawer]="drawer"
      [isHandset$]="isHandset$"
    >
    </app-top-navbar>
    <div class="relative flex basis-full grow flex-col">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="w-[12.5rem] relative !pt-6 px-2 border-0 bg-gray-200 bg-inherit"
    position="end"
  >
    <app-right-side-nav></app-right-side-nav>
  </mat-sidenav>
</mat-sidenav-container>
