<div class="flex justify-center absolute inset-0 bg-[#fafafa]">
  <mat-sidenav-container
    [ngClass]="bgImage && bgImage"
    class="h-full w-full max-w-screen-2xl bg-cover bg-no-repeat bg-center bg-slate-100"
  >
    <mat-sidenav
      #drawer
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      class="w-[16.5rem] !px-2 border-0 bg-inherit"
      fixedInViewport
    >
      <app-left-sidebar
        [(activePage)]="activePage"
        [drawer]="drawer"
        [isHandset$]="isHandset$"
        [user]="user"
      >
      </app-left-sidebar>
    </mat-sidenav>
    <mat-sidenav-content
      class="relative !flex h-full flex-col !overflow-hidden"
    >
      <div class="bg-overlay"></div>
      <app-top-navbar
        [activePage]="activePage"
        [drawer]="drawer"
        [isHandset$]="isHandset$"
      >
      </app-top-navbar>
      <div
        class="relative h-full flex overflow-hidden basis-full justify-between flex-col"
      >
        <div class="overflow-y-auto grow basis-full">
          <ng-content></ng-content>
        </div>
        <app-add-task-input></app-add-task-input>
      </div>
    </mat-sidenav-content>
    <mat-sidenav
      (closedStart)="handleCloseRightSideNav()"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="
        (isHandset$ | async) || ((isSmallScreen | async) && openRightSideNav)
          ? 'over'
          : 'side'
      "
      [opened]="openRightSideNav"
      class="w-[90%] xs:w-[20rem] relative !overflow-hidden !border-none bg-[#fafafa] bg-inherit"
      position="end"
    >
      <app-right-sidebar></app-right-sidebar>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
