<div
  *ngIf="task"
  class="flex overflow-hidden gap-2 flex-col h-full w-full justify-between"
>
  <div class="overflow-hidden flex flex-col gap-2 w-full">
    <div class="flex pt-1 items-center justify-end">
      <button
        (click)="onRightSidenavClose()"
        class="!text-[0.88rem] text-gray-500"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="overflow-y-auto flex px-1 flex-col gap-2">
      <div class="!flex border-gray-300 rounded border !flex-col">
        <app-opened-task
          (toggleTaskIsComplete)="onToggleTaskIsCompleted($event)"
          (toggleTaskIsImportant)="onToggleTaskIsImportant($event)"
          [task]="task"
        ></app-opened-task>
        <div class="py-2 w-full">
          <ng-container *ngFor="let step of task.steps; let i = index">
            <app-task-step
              (promoteStepToTask)="onPromoteStepToTask($event)"
              (removeStep)="onRemoveStep($event)"
              (toggleStepIsComplete)="onToggleStepComplete($event)"
              [step]="step"
            ></app-task-step>
            <div *ngIf="i < task.steps.length - 1" class="!px-5 w-full">
              <mat-divider class="opacity-30"></mat-divider>
            </div>
          </ng-container>
          <app-add-step-input (addStep)="addStep($event)"></app-add-step-input>
        </div>
      </div>
      <div
        *ngIf="task"
        class="bg-inherit !flex border-gray-300 rounded border !flex-col"
      >
        <app-task-detail
          [iconClasses]="
            task.isInMyDay
              ? 'text-cyan-700 hover:text-cyan-800'
              : 'text-gray-500 hover:text-gray-500'
          "
          [onClick]="toggleIsInMyDay()"
          [textClasses]="
            task.isInMyDay
              ? 'text-cyan-700 hover:text-cyan-800'
              : 'text-gray-500 hover:text-gray-500'
          "
          iconName="sunny"
          text="{{ task.isInMyDay ? 'Added to My Day' : 'Add to My Day' }}"
        >
        </app-task-detail>
      </div>
      <div
        *ngIf="task.dueDate"
        class="bg-inherit !flex border-gray-300 rounded border !flex-col"
      >
        <app-task-detail
          [iconClasses]="
            isOverdue(task.dueDate) ? 'text-red-600' : 'text-cyan-600'
          "
          [textClasses]="
            isOverdue(task.dueDate) ? 'text-red-600' : 'text-cyan-600'
          "
          iconName="event_note"
          text="Due {{ formatDate(task.dueDate) }}"
        >
        </app-task-detail>
        <mat-divider class="opacity-30"></mat-divider>
        <app-task-detail
          [text]="getTaskRecurrence(task.recurrence)"
          iconClasses="text-cyan-700"
          iconName="event_repeat"
          textClasses="text-cyan-700"
        >
        </app-task-detail>
      </div>
      <app-task-note *ngIf="task.note.text" [note]="task.note"></app-task-note>
    </div>
  </div>
  <div
    class="py-1 bg-gray-300 bg-opacity-25 border-t border-t-gray-300 text-gray-600"
  >
    <app-delete-task
      (deleteTask)="onDeleteTask($event)"
      [task]="task"
    ></app-delete-task>
  </div>
</div>
