<div *ngIf="task" class="flex items-start justify-between">
  <div class="!flex gap-2 items-start">
    <button
      (click)="onClickCompleteButton(task)"
      class="!h-7 !w-7 !flex justify-center items-center"
      mat-icon-button
    >
      <mat-icon
        (mouseout)="onMouseLeaveCompletedIcon()"
        (mouseover)="onMouseEnterCompletedIcon()"
        class="basis-auto shrink-0 text-[1.3rem] flex items-center"
      >
        {{ showCompletedIcon(task) }}
      </mat-icon>
    </button>
    <p
      [ngClass]="{textClassName, '!line-through':task.isCompleted}"
      class="text-[0.8rem] !decoration-2 font-[Ubuntu]"
    >
      {{ task.text }}
    </p>
  </div>
  <button
    (click)="onClickImportantButton(task)"
    class="basis-auto shrink-0 !-mt-3"
    mat-icon-button
  >
    <mat-icon class="!text-[1.2rem]">
      {{ task.isImportant ? 'star' : 'star_border' }}
    </mat-icon>
  </button>
</div>
