<div *ngIf="task" class="flex items-start justify-between">
  <div class="!flex gap-2 items-start">
    <button
      (click)="onClickCompleteButton(task)"
      class="!flex justify-center items-center !-mt-3.5"
      mat-icon-button
    >
      <mat-icon
        (mouseout)="onMouseLeaveCompletedIcon()"
        (mouseover)="onMouseEnterCompletedIcon()"
        class="basis-auto shrink-0 text-[1.6rem] flex items-center"
      >
        {{ showCompletedIcon(task) }}
      </mat-icon>
    </button>
    <p
      [ngClass]="{textClassName, '!line-through':task.isCompleted}"
      class="text-[1.07rem] !decoration-2 font-ubuntu"
    >
      {{ task.text }}
    </p>
  </div>
  <button
    (click)="onClickImportantButton(task)"
    class="basis-auto shrink-0 !-mt-3"
    mat-icon-button
  >
    <mat-icon class="!text-[1.3rem]">
      {{ task.isImportant ? 'star' : 'star_border' }}
    </mat-icon>
  </button>
</div>
