<div class="overflow-auto p-2 relative w-full">
  <div
    (click)="taskInput.focus()"
    (contextmenu)="$event.preventDefault()"
    class="flex items-center rounded focus-within:bg-gray-100 focus-within:outline outline-2 outline-offset-2 text-sky-800"
  >
    <mat-icon
      #inputIcon
      class="basis-auto pointer-events-none select-none shrink-0 !text-[0.98rem] !w-[0.98rem] !h-[0.99rem] flex items-center"
    >
      {{ inputHasFocus ? 'radio_button_unchecked' : 'add' }}
    </mat-icon>
    <input
      #taskInput
      (blur)="onInputBlur(taskInput)"
      (focus)="onInputFocus(taskInput)"
      (keydown.enter)="emitAddStep(taskInput)"
      (keydown.escape)="onInputBlur(taskInput)"
      class="placeholder-sky-700 focus-visible:outline-none w-full rounded py-1 bg-transparent px-1 !text-[0.8rem]"
      placeholder="Next step"
      type="text"
    />
  </div>
</div>
