@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.children-center {
  @apply flex justify-center items-center;
}

@layer base {
  .bg-overlay {
    @apply bg-black bg-opacity-30 absolute  inset-0 -z-10;
  }
}

.task-due-date-menu .mdc-list-item__primary-text {
  @apply flex justify-between items-center w-full;
}
